<header>
    <div class="logotipo">
        <img routerLink="/home" src="../../assets/img/logotipo.svg" alt="logotipo">
    </div>

    <div class="links-centro">
        <a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="btn_links-centro">acomodações</a>
        <a routerLink="/experiencias" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="btn_links-centro">experiências</a>
        <a routerLink="/quem-somos" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="btn_links-centro">quem somos</a>
    </div>

    <div *ngIf="!nomeUsuario" class="links-direita">
        <a routerLink="/login" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="btn_login">login</a>
        <a routerLink="/cadastro" class="btn_cadastrar">cadastre-se</a>
    </div>

    <!-- Estes botões aparecem em telas menores (responsividade): -->
    <div *ngIf="!nomeUsuario" class="menu-burger">
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>login</mat-icon>
          <span routerLink="/login">Login</span>
        </button>
        <button mat-menu-item>
          <mat-icon>person_add</mat-icon>
          <span routerLink="/cadastro">Cadastre-se</span>
        </button>
      </mat-menu>
    </div>
    <!-- --------------------------------------- -->

    <!-- Estes botões aparecem após usuário se cadastrar/logar -->
    <div *ngIf="nomeUsuario" class="links-direita usuario-logado">
        <p>Olá, {{ nomeUsuario }}!</p>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>menu</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <mat-icon>face</mat-icon>
              <span routerLink="/perfil">Perfil</span>
            </button>
            <button mat-menu-item>
              <mat-icon>logout</mat-icon>
              <span (click)="logout()">Logout</span>
            </button>
          </mat-menu>
    </div>
</header>