<header>
    <div class="logotipo">
        <img src="../../assets/img/logo1.PNG" alt="logotipo">
    </div>

    <div class="links-centro">
        <a routerLink="home">acomodações</a>
        <a>experiências</a>
        <a routerLink="quem-somos">quem somos</a>
    </div>

    <div *ngIf="!loggedInUser" class="links-direita">
        <a routerLink="/login">login</a>
        <a routerLink="cadastro" class="btn_cadastrar">cadastre-se</a>
    </div>
    <div *ngIf="loggedInUser">
        <p>Olá, {{ loggedInUser }}!</p>
        <button (click)="logout()">Logout</button>
      </div>
</header>