
  <mat-stepper linear #stepper>
    <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
    <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Endereço da hospedagem</ng-template>
            <form [formGroup]="firstFormGroup" class="example-form">
            <p>
                <mat-form-field class="example-full-width">
                    <mat-label>Endereço</mat-label>
                    <input formControlName="endereco" matInput placeholder="Ex. Rua Exemplo" required>
                </mat-form-field>
            </p>
            <table class="example-full-width" cellspacing="0"><tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>Número</mat-label>
                        <input formControlName="numero" matInput placeholder="Ex. 10" required pattern="\d+">
                        <mat-error *ngIf="firstFormGroup.get('numero')?.hasError('pattern')">Somente números são permitidos</mat-error>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>Complemento</mat-label>
                        <input formControlName="complemento" matInput placeholder="Ex. apto 101 bloco A">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>Bairro</mat-label>
                        <input formControlName="bairro" matInput placeholder="Ex. Harmonia" required>
                    </mat-form-field>
                </td>
            </tr></table>            
            <table class="example-full-width" cellspacing="0"><tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>Cidade</mat-label>
                        <input formControlName="cidade" matInput placeholder="Ex. Porto Alegre" required>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>Estado</mat-label>
                        <input formControlName="estado" matInput placeholder="Ex. RS" minlength="2" maxlength="2" required pattern="[a-zA-Z\s]+">
                        <mat-error *ngIf="firstFormGroup.get('estado')?.hasError('pattern')">Somente letras são permitidas</mat-error>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>CEP</mat-label>
                        <input formControlName="cep" matInput #postalCode placeholder="Ex. 91340140" required mask="00.000-000">
                    </mat-form-field>
                </td>
            </tr></table>
            </form>      
          <div>
          <button mat-button matStepperNext [disabled]="!firstFormGroup.valid">Próximo</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
        <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Detalhes da hospedagem</ng-template>
            <table><tr>
                <td>
                    <mat-form-field>
                        <mat-label>Nome</mat-label>
                        <input matInput formControlName="nome" #nomeMax maxlength="30" placeholder="Nome da hospedagem" required>
                        <mat-hint align="end">{{nomeMax.value.length}} / 30</mat-hint>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="campo-preco">
                        <mat-label>Valor por noite</mat-label>
                        <input matInput formControlName="valor" placeholder="R$ 0,00" required>
                    </mat-form-field>
                </td>
            </tr></table>
            <mat-form-field class="area-descricao">
                <mat-label>Descrição da hospedagem</mat-label>
                <textarea matInput formControlName="descricao" rows="5" style="resize: none" placeholder="Descreva com clareza todos os detalhes da hospedagem..." required></textarea>
            </mat-form-field>
            <p>
                <mat-form-field class="area-especificacao">
                    <mat-label>Especificação</mat-label>
                    <input matInput formControlName="especificacao" #especMax maxlength="30" placeholder="Detalhe mais importante da hospedagem" required>
                    <mat-hint align="end">{{especMax.value.length}} / 30</mat-hint>
                </mat-form-field>
            </p>
            <label for="upload" class="label-upload">Upload de fotos<mat-icon class="check-icon">upload</mat-icon></label>
            <input id="upload" type="file" multiple (change)="selecionarArquivos($event)" accept="image/x-png,image/jpeg">    
            <div>
                <button mat-button matStepperPrevious>Voltar</button>
                <button mat-button matStepperNext [disabled]="!secondFormGroup.valid">Próximo</button>
            </div>
        </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Verificação</ng-template>
      <p>Você terminou o cadastro da sua hospedagem!</p>
      <p>Você pode voltar para revisar ou salvar se estiver tudo certo.</p>
      <div>
        <button mat-button matStepperPrevious>Voltar</button>
        <button mat-button (click)="cadastrarHospedagem()">Salvar</button>
      </div>
    </mat-step>
  </mat-stepper>