
<mat-stepper linear #stepper>
  <mat-step [editable]="!isEditable">
    <form [formGroup]="cadastroForm" class="example-form">
      <ng-template matStepLabel>Preencha seus dados</ng-template>
      <mat-form-field class="example-full-width">
        <mat-label>Nome</mat-label>
        <input type="text" matInput formControlName="nome" placeholder="Nome" required pattern="[a-zA-Z\s]+">
        <mat-error *ngIf="cadastroForm.get('nome')?.hasError('required')">Nome é obrigatório</mat-error>
        <mat-error *ngIf="cadastroForm.get('nome')?.hasError('pattern')">Somente letras são permitidas</mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Sobrenome</mat-label>
        <input type="text" matInput formControlName="sobrenome" placeholder="Sobrenome" required pattern="[a-zA-Z\s]+">
        <mat-error *ngIf="cadastroForm.get('sobrenome')?.hasError('required')">Sobrenome é obrigatório</mat-error>
        <mat-error *ngIf="cadastroForm.get('sobrenome')?.hasError('pattern')">Somente letras são permitidas</mat-error>
      </mat-form-field>
      <table class="example-full-width" cellspacing="0"><tr>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>CPF</mat-label>
            <input type="text" matInput #cpfCode maxlength="14" formControlName="cpf" placeholder="Somente os números" required mask="000.000.000-00">
            <mat-hint align="end">{{cpfCode.value.length}} / 11</mat-hint>
            <mat-error *ngIf="cadastroForm.get('cpf')?.hasError('required')">CPF é obrigatório</mat-error>
          </mat-form-field>
        </td>
      </tr></table>
      <mat-form-field class="example-full-width">
        <mat-label>E-mail</mat-label>
        <input type="email" matInput formControlName="email" placeholder="email@email..." required>
        <mat-error *ngIf="cadastroForm.get('email')?.hasError('required')">E-mail é obrigatório</mat-error>
        <mat-error *ngIf="cadastroForm.get('email')?.hasError('email')">E-mail inválido</mat-error>
      </mat-form-field>
      <table class="example-full-width" cellspacing="0"><tr>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Senha</mat-label>
          <input type="password" matInput [type]="hidePassword ? 'password' : 'text'" #passCode maxlength="6" minlength="6" formControlName="senha" placeholder="Mínimo 6 caracteres" required>
          <mat-hint align="end">{{passCode.value.length}} / 6</mat-hint>
          <mat-error *ngIf="cadastroForm.get('senha')?.hasError('required')">Senha é obrigatória</mat-error>
          <mat-error *ngIf="cadastroForm.get('senha')?.hasError('minlength')">Senha deve ter pelo menos 6 caracteres</mat-error>
          <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.title]="hidePassword ? 'Mostrar senha' : 'Esconder senha'">
            <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        </mat-form-field>
      </td>
      </tr></table>
      <mat-form-field>
        <mat-label>Tipo de cadastro</mat-label>
        <mat-select formControlName="tipo">
          <mat-option *ngFor="let tipo of tipos" [value]="tipo.value">
            {{tipo.label}}
          </mat-option>
      </mat-select>
      </mat-form-field>
      <div>
        <!-- Se o tipo de cadastro for "Hóspede", exibe o botão "Salvar", caso contrário, exibe o botão "Próximo" -->
        <button mat-button matStepperNext *ngIf="isTipoHospede(); else proximoButton" (click)="cadastrarUsuario()" [disabled]="!cadastroForm.valid">Salvar</button>
        <ng-template #proximoButton>
          <button mat-button matStepperNext routerLink="/cadastro/cadastro-hospedagem" (click)="cadastrarUsuarioEHospedagem()" [disabled]="!cadastroForm.valid">Próximo</button>
        </ng-template>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Verificação</ng-template>
    <p>Você terminou seu cadastro!</p>
    <br>
    <div>
      <button (click)="atualizarPagina()" mat-button matStepperPrevious>Página inicial</button>
    </div>
  </mat-step>
</mat-stepper>