<div class="container">
    <section class="perfil">
        <div class="titulo-btn">
            <p>Perfil</p>
            <div>
                <button class="btn-editar-perfil" *ngIf="!mostrarBotao" (click)="habilitarInputs()" mat-fab matTooltip="Editar cadastro" extended>
                    <mat-icon>edit</mat-icon>
                    Editar
                </button>
                <button class="btn-deletar-perfil" *ngIf="mostrarBotao" (click)="excluirPerfil()" mat-fab matTooltip="Excluir cadastro" extended>
                    <mat-icon>delete</mat-icon>
                    Excluir
                </button>
                <button class="btn-salvar-perfil" *ngIf="mostrarBotao" (click)="editarUsuario()" mat-fab matTooltip="Salvar alterações" extended>
                    <mat-icon>check</mat-icon>
                    Salvar
                </button>
                <button class="btn-cancelar" *ngIf="mostrarBotao" (click)="desabilitarInputs()" mat-fab matTooltip="Cancelar edição" extended>
                    <mat-icon>close</mat-icon>
                    Cancelar
                </button>
            </div>
        </div>
        <form class="example-form">
            <mat-form-field class="example-full-width">
                <mat-label>Nome</mat-label>
                <input matInput [disabled]="isDisable" value="{{user.nome}}" [(ngModel)]="user.nome" name="nome">
            </mat-form-field>          
            <mat-form-field class="example-full-width">
                <mat-label>Sobrenome</mat-label>
                <input matInput [disabled]="isDisable" value="{{user.sobrenome}}" [(ngModel)]="user.sobrenome" name="sobrenome">
            </mat-form-field>          
            <mat-form-field class="example-full-width">
                <mat-label>CPF</mat-label>
                <input matInput [disabled]="isDisable" value="{{user.cpf}}" [(ngModel)]="user.cpf" name="cpf" mask="000.000.000-00">
            </mat-form-field>          
            <mat-form-field class="example-full-width">
                <mat-label>E-mail</mat-label>
                <input matInput [disabled]="isDisable" value="{{user.email}}" [(ngModel)]="user.email" name="email">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Senha</mat-label>
                <input matInput [type]="hidePassword ? 'password' : 'text'" [disabled]="isDisable" value="{{ user.senha }}" [(ngModel)]="user.senha" name="senha" minlength="6" maxlength="6">
                <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.title]="hidePassword ? 'Mostrar senha' : 'Esconder senha'">
                    <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
            </mat-form-field>
            <input hidden [disabled]="isDisable" value="{{user.tipo}}">
        </form>

    </section>
    <section class="hospedagens">
        <div class="titulo-btn">
            <p>Minhas hospedagens</p>
            <button routerLink="/cadastro/cadastro-hospedagem" mat-fab extended title="Adicionar hospedagem">
                <mat-icon>add</mat-icon>
                Hospedagem
            </button>
        </div>
        <h1 class="aviso-sem-hospedagem" *ngIf="listaAcomodacoes.length == 0">Você não possui hospedagens cadastradas.</h1>
        <div class="card" *ngFor="let acomodacao of listaAcomodacoes">
            <app-fotos-hospedagem fotos="{{acomodacao.foto}}"></app-fotos-hospedagem>
            <div class="card-body">
                <p class="titulo" title="{{acomodacao.nome}}">{{acomodacao.nome}}</p>
                <p class="especificacao" title="{{acomodacao.especificacao}}">{{acomodacao.especificacao}}</p>
                <p>{{acomodacao.cidade}} / {{acomodacao.estado}}</p>
                <p class="preco">R$ {{acomodacao.valor}} / noite</p>
                <div class="rodape-card">
                    <a class="btns-rodape" matTooltip="Excluir" (click)="excluirHospedagem(acomodacao.id)">
                        <mat-icon>delete</mat-icon>
                    </a>
                    <a routerLink="/hospedagem/{{acomodacao.id}}/editar" class="btns-rodape" matTooltip="Editar">
                        <mat-icon>edit</mat-icon>
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>