<main class="container">
    <section class="secao-fotos">
        <div class="div-fotos" *ngFor="let foto of fotosTratadas">
            <img src="{{foto}}" alt="imagem da hospedagem">
        </div>
    </section>

    <div class="detalhes-reserva">
        <section class="detalhes">
            <h1 class="nome-hospedagem">
                {{hospedagem.nome}}
            </h1>
            <h3 class="especificacao-hospedagem">
                {{hospedagem.especificacao}}
            </h3>
            <p>
                {{hospedagem.cidade}} / {{hospedagem.estado}}
            </p>
            <p class="descricao-hospedagem">
                {{hospedagem.descricao}}
            </p>
        </section>
        <section class="reserva">
            <form #form="ngForm">
                <div class="container-quantidades">
                    <div class="quantidades">
                        <label for="qt_hospedes">Quantidade de hóspedes</label>
                        <input type="number" id="qt_hospedes" name="qt_hospedes" [(ngModel)]="info1" required>    
                    </div>
                    <div class="quantidades">
                        <label for="qt_dias">Quantidade de dias</label>
                        <input type="number" id="qt_dias" name="qt_dias" [(ngModel)]="info2" required>
                    </div>
                </div>
                <p class="preco">Valor: R$ {{hospedagem.valor}} / noite</p>
                <a class="btn-reservar" (click)="openDialog(hospedagem.valor)">reservar</a>
            </form>
        </section>
    </div>
</main>