<h2>
    Seja bem-vindo ao GlutenFreeBnb
</h2>
<h3>
    Onde a segurança alimentar encontra o conforto de casa
</h3>

<div class="container">
    <article class="parte1">
        <img class="imagem-cima" src="../../assets/img/gfbnb1.jpg" alt="">
        <p class="texto-cima">
            Na <span>GlutenFreeBnb</span>, estamos comprometidos em proporcionar experiências de hospedagem seguras e livres de preocupações para pessoas celíacas.
            <br>Nossa missão é criar um ambiente acolhedor e livre de contaminação, onde nossos hóspedes possam desfrutar de suas estadas sem comprometer sua saúde ou bem-estar.
            <br>Entendemos as dificuldades enfrentadas por aqueles com alergias alimentares e outras restrições dietéticas ao viajar.
            <br>Por isso, desenvolvemos uma plataforma que conecta viajantes com anfitriões que oferecem espaços adequados às suas necessidades alimentares específicas.
        </p>
    </article>
    <article class="parte2">
        <p class="texto-baixo">
            Além disso, oferecemos recursos adicionais, como guias de restaurantes e eventos voltados para o público com restrições alimentares, para tornar a experiência do viajante ainda mais completa.
            <br>Na <span>GlutenFreeBnb</span>, estamos empenhados em proporcionar não apenas um lugar para ficar, mas sim um lar onde todos possam se sentir confortáveis e seguros.
            <br>Junte-se a nós nessa jornada para criar um mundo mais inclusivo e acessível para todos.
        </p>
        <img class="imagem-baixo" src="../../assets/img/gfbnb6.jpg" alt="">
    </article>
</div>