<main class="container">
    <div class="fotos-e-botoes">
        <section class="secao-fotos">
            <div class="div-fotos" *ngFor="let foto of fotosTratadas">
                <a href="{{foto}}"><img src="{{foto}}" alt="imagem da hospedagem"></a>
            </div>
            </section>
        <div class="area-edicao">
            <button class="btn-editar-perfil" *ngIf="!mostrarBotaoFotos" (click)="editarFotos()" mat-fab matTooltip="Editar fotos" matTooltipPosition="below" extended>
                <mat-icon>edit</mat-icon>
                Editar
            </button>

            <button class="btn-deletar-hospedagem" *ngIf="mostrarBotaoFotos" (click)="cancelarEditarFotos()" mat-fab matTooltip="Cancelar edição" matTooltipPosition="above" extended>
                <mat-icon>close</mat-icon>
                Cancelar
            </button>
                            
            <label *ngIf="mostrarBotaoFotos" for="upload" class="label-upload">Upload<mat-icon class="check-icon">upload</mat-icon></label>
            <input id="upload" type="file" multiple value="" (change)="selecionarArquivos($event)" accept="image/x-png,image/jpeg">

            <button class="btn-salvar-hospedagem" *ngIf="mostrarBotaoFotos" (click)="editarFotosHospedagem()" mat-fab matTooltip="Salvar fotos" matTooltipPosition="below" extended>
                <mat-icon>check</mat-icon>
                Salvar
            </button>
        </div>
    </div>
    <div class="informacoes-hospedagem">
        <form class="endereco-hospedagem">
            <mat-form-field class="example-full-width">
                <mat-label>Endereço</mat-label>
                <input matInput [disabled]="isDisable" value="{{hospedagem.endereco}}" [(ngModel)]="hospedagem.endereco" name="endereco" required>
            </mat-form-field>
            <div class="numero-e-complemento">
                <mat-form-field class="example-full-width-numero">
                    <mat-label>Número</mat-label>
                    <input matInput [disabled]="isDisable" value="{{hospedagem.numero}}" [(ngModel)]="hospedagem.numero" name="numero" required>
                </mat-form-field>
                <mat-form-field class="example-full-width-complemento">
                    <mat-label>Complemento</mat-label>
                    <input matInput [disabled]="isDisable" value="{{hospedagem.complemento}}" [(ngModel)]="hospedagem.complemento" name="complemento">
                </mat-form-field>
            </div>
            <mat-form-field class="example-full-width">
                <mat-label>Bairro</mat-label>
                <input matInput [disabled]="isDisable" value="{{hospedagem.bairro}}" [(ngModel)]="hospedagem.bairro" name="bairro" required>
            </mat-form-field>
            <div class="numero-e-complemento">
                <mat-form-field class="example-full-width-complemento">
                    <mat-label>Cidade</mat-label>
                    <input matInput [disabled]="isDisable" value="{{hospedagem.cidade}}" [(ngModel)]="hospedagem.cidade" name="cidade" required>
                </mat-form-field>
                <mat-form-field class="example-full-width-numero">
                    <mat-label>Estado</mat-label>
                    <input matInput [disabled]="isDisable" value="{{hospedagem.estado}}" [(ngModel)]="hospedagem.estado" name="estado" required>
                </mat-form-field>
            </div>
            <mat-form-field class="example-full-width">
                <mat-label>CEP</mat-label>
                <input matInput #postalCode maxlength="10" [disabled]="isDisable" value="{{hospedagem.cep}}" [(ngModel)]="hospedagem.cep" name="cep" required mask="00.000-000">
            </mat-form-field>
        </form>
        <section class="botoes">
            <button class="btn-editar-perfil" *ngIf="!mostrarBotao" (click)="habilitarInputs()" mat-fab matTooltip="Editar hospedagem" matTooltipPosition="above" extended>
                <mat-icon>edit</mat-icon>
                Editar
            </button>
            <button class="btn-salvar-hospedagem" *ngIf="mostrarBotao" (click)="editarHospedagem(id_hospedagem)" mat-fab matTooltip="Salvar alterações" extended>
                <mat-icon>check</mat-icon>
                Salvar
                </button>
            <button class="btn-cancelar" *ngIf="mostrarBotao" (click)="desabilitarInputs()" mat-fab matTooltip="Cancelar edição" extended>
                <mat-icon>close</mat-icon>
                Cancelar
            </button>
            <button class="btn-deletar-hospedagem" *ngIf="mostrarBotao" (click)="excluirHospedagem(hospedagem.id)" mat-fab matTooltip="Excluir hospedagem" matTooltipPosition="above" extended>
                <mat-icon>delete</mat-icon>
                Excluir
            </button>
        </section>
        <section class="detalhes-hospedagem">
            <mat-form-field class="example-full-width">
                <mat-label>Nome</mat-label>
                <input matInput #nomeMax maxlength="30" [disabled]="isDisable" value="{{hospedagem.nome}}" [(ngModel)]="hospedagem.nome" name="nome" required>
                <mat-hint align="end">{{nomeMax.value.length}} / 30</mat-hint>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Especificação</mat-label>
                <input matInput #especMax maxlength="30" [disabled]="isDisable" value="{{hospedagem.especificacao}}" [(ngModel)]="hospedagem.especificacao" name="especificacao" required>
                <mat-hint align="end">{{especMax.value.length}} / 30</mat-hint>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Descrição da hospedagem</mat-label>
                <textarea matInput rows="5" style="resize: none" [disabled]="isDisable" value="{{hospedagem.descricao}}" [(ngModel)]="hospedagem.descricao" name="descricao" required></textarea>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Valor por noite</mat-label>
                <input matInput [disabled]="isDisable" value="{{hospedagem.valor}}" [(ngModel)]="hospedagem.valor" name="valor" required>
            </mat-form-field>
        </section>
    </div>
</main>