
<h1 *ngIf="listaAcomodacoes.length == 0"> Nenhuma acomodação cadastrada!</h1>

<div class="container">
    <div class="card" *ngFor="let acomodacao of listaAcomodacoes">
        <img src="{{acomodacao.foto}}" alt="{{acomodacao.nome}}">
        <div class="card-body">
            <p class="titulo">{{acomodacao.nome}}</p>
            <p class="especificacao">{{acomodacao.especificacao}}</p>
            <p>{{acomodacao.periodo}}</p>
            <div class="rodape-card">
                <p class="preco">{{acomodacao.valor}}</p>
                <a class="btn_ver_mais">ver mais</a>
                <!-- <a (click)="verMais" class="btn_ver_mais">ver mais</a> -->
            </div>
        </div>
    </div>
</div>
